@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

:root {
  --main-bg-color: rgb(0, 8, 8);
  --main-color: rgb(137, 190, 190);
  --bs-body-color: var(--main-color);
  --bs-border-color: var(--main-color);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: 'Exo 2', sans-serif;
}

main > article {
  margin-top: 1em !important;
}

p {
  text-align: justify;
}

dfn {
  text-decoration: underline dotted;
  font-style: normal;
}

.news>.card>.card-header>h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--main-color);
  border-radius: 0;
  padding: 0;
}

.card-header {
  background: repeating-linear-gradient(transparent, transparent 2px, rgba(137, 190, 190, .5) 3px, rgba(137, 190, 190, .5) 3px);
  border-bottom: 1px solid;
}

.solid-scanline-bg {
  background: repeating-linear-gradient(transparent, transparent 2px, rgba(137, 190, 190) 3px, rgba(137, 190, 190) 3px);
  border-radius: 0;
}

.solid-bg {
  background-color: var(--main-bg-color);
}

.main-nav {
  padding: 0;
  background-color: rgba(137, 190, 190, .5);
}

.main-nav ul {
  list-style: none;
  background-color: var(--main-bg-color);
  display: inline-block;
  margin: 0 1rem;
  padding: .1rem 0;
  font-size: 0;
}

.main-nav ul li:first-child {
  margin-left: .2rem;
}

.main-nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: .2rem;
}

.main-nav a {
  background-color: rgba(137, 190, 190, .8);
  color: var(--main-bg-color);
  text-decoration: none;
  padding: .2rem .5rem;
  font-size: medium;
}

.main-nav a:hover {
  background-color: var(--main-color);
}